html {
    font-family: "微软雅黑", "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif;
    font-size: 62.5%;
}

body, p ,h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
}

body {
    font-size: 1.4rem;
    color: #333333;
    width: 100%;
}

a:hover, a:visited, a:link, a:active, a {
    text-decoration: none;
    border: none;
    background: none;
}

.f16 {
    font-size: 1.6rem;
}

.f18 {
    font-size: 1.8rem;
}

.f14 {
    font-size: 1.4rem;
}

.f12 {
    font-size: 1.2rem;
}

.fl {
    float: left;
}

.fr {
    float: right;
}
.fc{
    color: #b3b3b3;
}
.pb {
    padding: 0 5%;
    box-sizing: border-box;
}
.go {
    display: inline-block;
    float: right;
    height: 50px;
    width: 14px;
    line-height: 50px;
    margin-left: 20px;
}

.go img {
    vertical-align: middle;
    width: 100%;
}

.btn {
    width: 80%;
    height: 40px;
    background-color: #23BBF4;
    color: #ffffff;
    font-size: 1.6rem;
    border: none;
    border-radius: 5px;
    margin: 70px auto 0;
    display: block;
}

.fixed {
    width: 100%;
    height: 65px;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: #ffffff;
}

.fixed > .download {
    width: 80%;
    height: 45px;
    background-color: #23BBF4;
    border-radius: 5px;
    text-align: center;
    margin: 0 auto;
}

.fixed > .download > img {
    margin: 0 10px;
    vertical-align: middle;
}

.fixed > .download > span {
    color: #ffffff;
    line-height: 45px;
}
.hidden{
    display: none;
}
/*天气预报*/
#weather{
    width: 100%;
}
#weather>.weather{
    width: 100%;
    padding: 10px 5%;
    box-sizing: border-box;
}
#weather>.weather>.logo{
    width: 25%;
    margin: 5px 0;
}
#weather>.weather>.bg{
    width: 100%;
    font-size: 0;
    position:relative;
}
#weather>.weather>.bg>img{
    width: 100%;
}
#weather>.weather>.bg>.text{
    position: absolute;
    left: 3%;
    top: 3%;
    width: 90%;
    color: #ffffff;
    box-sizing: border-box;
}
#weather>.weather>.bg>.text>.temperature{
    font-size: 4rem;
}
#weather>.weather>.bg>.location{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 0 3%;
    vertical-align:bottom;
}
#weather>.weather>.bg>.location>img{
    display: inline-block;
    width: 6%;
    line-height: 45px;
    margin-right: 4%;
}
#weather>.weather>.bg>.location>.text{
    display: inline-block;
    width: 50%;
    color: #ffffff;
    font-size: 1.4rem;
    margin-bottom: 4px;
}
#weather>.weather>.bg>.location>.break{
    width:6%;
    display: inline-block;
    position: absolute;
    right: 5%;
    top: 25%;
}
#weather>.weather>.bg>.location>.break>img{
    width: 100%;
}


/*业主投诉建议*/
#yz_tousu>.tab{
    width: 100%;
}
#yz_tousu>.tab>.tab-{
    width: 76%;
    margin: 10px auto;
    height: 38px;
    background: url("../img/tab.png") no-repeat;
    background-size: 100% 100%;
    font-size: 0;
    vertical-align: top;
}
#yz_tousu>.tab>.tab->.text{
    display: inline-block;
    width: 33.33%;
    height: 35px;
    text-align: center;
    line-height: 35px;
    font-size: 1.4rem;
    color: #333333;
}
#yz_tousu>.tab>.tab->.text:nth-child(1){
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;

}
.tslist-bg{
    background: #56CDFC;
    color: #ffffff;
}
#yz_tousu>.tab>.tab->.text:nth-child(3){
    border-top-right-radius: 30px;
    border-bottom-right-radius:30px;
}

#yz_tousu>#tab_content .list{
    width: 100%;
    height: 260px;
    position: relative;
}
#yz_tousu>#tab_content>.tab_list0>.list{
    background: url("../img/bg_dcl.png") no-repeat;
    background-size:100% 100%;
}
#yz_tousu>#tab_content>.tab_list1>.list{
    background: url("../img/bg_clz.png") no-repeat;
    background-size:100% 100%;
}
#yz_tousu>#tab_content>.tab_list2>.list{
    background: url("../img/bg_ywc.png") no-repeat;
    background-size:100% 100%;
}
#yz_tousu>#tab_content .list>.header{
    width: 90%;
    margin: auto;
    color: #ffffff;
    padding: 18px 0;
}
#yz_tousu>#tab_content .list>.content{
    width: 100%;
}
#yz_tousu>#tab_content .list>.content>.title{
    width: 90%;
    margin: 0 auto;
}
#yz_tousu>#tab_content .list>.content>.text{
    width: 90%;
    margin: auto;
    line-height: 30px;

    overflow: hidden;
    /*text-overflow: -o-ellipsis-lastline;*/
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
#yz_tousu>#tab_content .list>.content>.img{
    width: 90%;
    margin: auto;

}
#yz_tousu>#tab_content .list>.content>.img>img{
    width: 24%;
}
#yz_tousu>#tab_content .list>.footer{
    width: 60%;
    margin: auto;
    vertical-align: bottom;
    position: absolute;
    bottom: 30px;
    left:6%;
}

/*业主投诉详情*/
#ts_details>.header{
    width: 100%;
    font-size: 0;
    padding-top: 20px;
    padding-bottom: 10px;
    border-bottom: 10px solid #F1F1F1;
}
#ts_details>.header>.left{
    width:20%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
}
#ts_details>.header>.left>img{
    width: 62.5%;
}
#ts_details>.header>.right{
    width: 80%;
    display: inline-block;
    padding-right:5%;
    box-sizing: border-box;
}
#ts_details>.header>.right>.header{
    width:100%;
    line-height: 18px;
    vertical-align: middle;
    position: relative;
}
#ts_details>.header>.right>.header>.time{
    color: #b3b3b3;
}
#ts_details>.header>.right>.header img{
    width: 25%;
    position: absolute;
    right: 0;
    top: 0;
}
#ts_details>.header>.right>.content{
    width: 100%;
}
#ts_details>.header>.right>.content_img{
    width: 100%;
    font-size:0;
    margin-top: 20px;
}
#ts_details>.header>.right>.content_img>img{
    width: 30%;
    margin-right: 3%;
}
#ts_details>.header>.right>.footer{
    width: 100%;
    font-size: 1.4rem;
    margin-top: 10px;
}
#ts_details>.header>.right>.footer>span:nth-child(1){
    float: right;
    padding-left: 25px;
    background:url("../img/xin.png") no-repeat;
    background-size: 20px;
    margin-right: 10px;
}
#ts_details>.header>.right>.footer>span:nth-child(2){
    float: right;
    padding-left: 25px;
    background:url("../img/xiaoxi.png") no-repeat;
    background-size: 20px;
    margin-right: 10px;
}
#ts_details>.wuye{
    width: 100%;
    font-size: 0;
    padding-bottom: 10px;
    border-bottom: 10px solid #F1F1F1;
}
#ts_details>.wuye>.left{
    width:12%;
    display: inline-block;
}
#ts_details>.wuye>.left>img{
    width: 20px;
    display: block;
    margin:10px auto;
}
#ts_details>.wuye>.right{
    width: 88%;
    display: inline-block;
    vertical-align: top;
}
#ts_details>.wuye>.right>.header{
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: #199be7;
    border-bottom: 1px solid #ddd;
}
#ts_details>.wuye>.right>.content{
    width: 100%;
}
#ts_details>.wuye>.right>.content>.list{
    width: 100%;
    font-size: 0;
    border-bottom: 1px solid #DFDFDD;
    padding-bottom: 10px;
}
#ts_details>.wuye>.right>.content>.list>.left{
    width: 10%;
    display: inline-block;
    margin-right: 4%;
    vertical-align: top;
}
#ts_details>.wuye>.right>.content>.list>.left>img{
    width: 100%;
    margin: 10px 0;
}
#ts_details>.wuye>.right>.content>.list>.right{
    margin-top: 10px;
    margin-right: 3%;
    width: 83%;
    display: inline-block;
    vertical-align: top;
}
#ts_details>.wuye>.right>.content>.list>.right>.message{
    width: 100%;
}
#ts_details>.wuye>.right>.content>.list>.right>.text{
    margin-top: 10px;
    text-align: justify;
}


#ts_details>.yezhu{
    width: 100%;
    font-size: 0;
    padding-bottom: 90px;
}
#ts_details>.yezhu>.left{
    width:12%;
    display: inline-block;
}
#ts_details>.yezhu>.left>img{
    width: 20px;
    display: block;
    margin:15px auto;
}
#ts_details>.yezhu>.right{
    width: 88%;
    display: inline-block;
    vertical-align: top;
}
#ts_details>.yezhu>.right>.header{
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: #fd781f;
    border-bottom: 1px solid #ddd;
}
#ts_details>.yezhu>.right>.content{
    width: 100%;
}
#ts_details>.yezhu>.right>.content>.list{
    width: 100%;
    font-size: 0;
    border-bottom: 1px solid #DFDFDD;
    padding-bottom: 10px;
}
#ts_details>.yezhu>.right>.content>.list>.left{
    width: 10%;
    display: inline-block;
    margin-right: 4%;
    vertical-align: top;
}
#ts_details>.yezhu>.right>.content>.list>.left>img{
    width: 100%;
    margin: 10px 0;
}
#ts_details>.yezhu>.right>.content>.list>.right{
    margin-top: 10px;
    margin-right: 3%;
    width: 83%;
    display: inline-block;
    vertical-align: top;
}
#ts_details>.yezhu>.right>.content>.list>.right>.message{
    width: 100%;
}
#ts_details>.yezhu>.right>.content>.list>.right>.text{
    margin-top: 10px;
    text-align: justify;
}
#ts_details>.footer{
    background: url("../img/input_bg.png") no-repeat;
    background-size: 100% 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 75px;
    font-size: 0;
}
#ts_details>.footer>input[type="text"]{
    color: #b3b3b3;
    font-size: 1.4rem;
    text-align: center;
    border: none;
    background:#ffffff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 5px;
    width: 66%;
    height: 30px;
    display: inline-block;
    outline: none;
    position: absolute;
    top: 22px;
    left: 4%;
}
#ts_details>.footer>input[type="button"]{
    background: #ffffff;
    position: absolute;
    right: 4%;
    top: 22px;
    border: none;
    border-radius: 5px;
    width: 22%;
    height: 30px;
    outline: none;
}




